<!DOCTYPE html>
<html lang="es-ES">

<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script src="{{ url_for('static', filename='sw.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | {{ user["nombre"] }} - avanzado</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cuenta.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@0.11.3/dist/tippy.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/notiflix/notiflix-2.7.0.min.css') }}">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">

</head>

<body
    style="display: flex; font-family: Avenir Next,Helvetica Neue,Arial,sans-serif!important; font-feature-settings: 'kern','liga','pnum'; -webkit-font-smoothing: antialiased;">
    {% include "/sideNav.html" %}

    <div class="wrapper__navy">
        <div class="navy" style="justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <a href="/dashboard">
                    Cuenta
                </a>
                <i style="font-size: 15px; color: rgb(34, 92, 255); display: flex; box-sizing: border-box; margin: 0px 15px; min-width: 0px;"
                    class="fas fa-chevron-right"></i>
                <p>
                    Avanzado
                </p>
            </div>
            <a class="buttonSingOff"
                style="position: relative; display: inline-flex; font-family: 'Public Sans', sans-serif; -webkit-box-align: center; align-items: center; font-weight: 600; white-space: nowrap; font-size: 12px; -webkit-box-pack: center; justify-content: center; text-decoration: none; cursor: pointer; appearance: none; padding: 10px 16px; line-height: 16px; border-radius: 36px; box-sizing: border-box; transition: all 0.2s ease-in-out 0s; background-color: transparent; color: rgb(0, 0, 0); box-shadow: none; border: 2px solid rgb(0, 0, 0); height: 36px;  margin-right: 50px;"
                href="/dashboard/account/delete">Cerrar sesion</a>
        </div>
        <div id="popup">
            <div class="wrapper">
                <div class="input">
                    <label for="contraseñaDestruir">
                        <p>Contraseña</p>
                    </label>
                    <input oninput="checkPasswordForDestruction(this)" type="password" name="psw"
                        id="contraseñaDestruir">
                </div>
                <div class="g-recaptcha" data-callback="noEsRobotito" data-sitekey="{{ key }}"></div>
                <script>
                    var pswIncorrecta = true;
                    function checkPasswordForDestruction(input) {
                        fetch("/psw/check", {
                            method: "POST",
                            headers: {
                                "psw": input.value
                            }
                        }).then(response => response.json()).then(data => {
                            if (data["valido"] == false) {
                                input.classList.add("error")
                                document.getElementById("btnEliminarDestruirCuenta").classList.add("error")
                                pswIncorrecta = true;
                            } else {
                                input.classList.remove("error");
                                document.getElementById("btnEliminarDestruirCuenta").classList.remove("error")
                                pswIncorrecta = false;
                            }
                        })
                    }

                    function cancelarEliminacion() {
                        Notiflix.Loading.Init({ svgColor: "#6493c6", });
                        Notiflix.Loading.Circle();

                        setTimeout(function () {
                            window.location.replace("/dashboard/edit/avanzado")
                        }, 1000)
                    }

                    function eliminarCuenta_destruir(div) {
                        if (!div.classList.contains("error")) {
                            window.location.replace("/dashboard/account/destroy")
                        }
                    }
                </script>
                <div style="width: 100%; display:flex; justify-content: space-between;">
                    <p class="cancelarEliminacion" id="btnEliminarDestruirCuenta"
                        onclick="eliminarCuenta_destruir(this)">Eliminar</p>
                    <p class="cancelarEliminacion" onclick="cancelarEliminacion()">Cancelar</p>
                </div>
            </div>
            <div class="bg"></div>
        </div>
        <div class="pagina">
            <div class="edit__uno">
                <div class="nav">
                    <div style="display: flex;" class="info">
                        <div id="pfpHolderNavy"></div>
                        <p
                            style="display: flex; justify-content: center; align-items: center; margin: 0 0 0 10px; font-size: 16px; font-weight: 600; color: rgb(54, 73, 98); text-align: left; line-height: 1.5; text-transform: none; overflow: unset; white-space: unset; text-overflow: unset;">
                            {{ user["nombre"] }}</p>
                    </div>
                    <ul>
                        <a href="/dashboard/edit">
                            <div style="display: flex;"><i class="far fa-user"></i> Mi cuenta</div> <i
                                class="fas fa-chevron-right"></i>
                        </a>
                        <a href="/dashboard/edit/mail">
                            <div style="display: flex;"><i class="fas fa-bell"></i> Notificaciones</div> <i
                                class="fas fa-chevron-right"></i>
                        </a>
                        <a href="{{ url_for('main_page.amigos') }}">
                            <div style="display: flex;"><i class="fas fa-sitemap"></i> Amigos</div> <i
                                class="fas fa-chevron-right"></i>
                        </a>
                        <a href="/dashboard/edit/avanzado" class="active">
                            <div style="display: flex;"><i class="fas fa-exclamation-circle"></i> Avanzado</div> <i
                                class="fas fa-chevron-right"></i>
                        </a>
                    </ul>
                </div>

                <div class="main">
                    <div class="edit__box">
                        <div class="headder">
                            <div class="logo">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="info">
                                <div class="title">
                                    Avanzado
                                </div>
                                <div class="desc">
                                    Configuracion avanzada.
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <style>
                                #form {
                                    display: flex;
                                    justify-content: space-between;
                                }
                            </style>
                            <div id="form">
                                <style>
                                    .btn1 {
                                        background: #0fbcf9 !important;
                                    }
                                </style>
                                <script>

                                    function eliminar() {
                                        Notiflix.Loading.Init({ svgColor: "#6493c6", });
                                        Notiflix.Loading.Circle();
                                        setTimeout(function () {
                                            window.location.replace("/dashboard/account/delete");
                                        }, 5000);
                                    }

                                    function destruir() {
                                        if (confirm("¿Estas seguro? No recuperaras tu cuenta.")) {
                                            document.getElementById("popup").style.display = "flex"
                                        }
                                    }

                                    function noEsRobotito() {
                                        document.getElementById("btnEliminarDestruirCuenta").classList.remove("error")
                                    }
                                </script>
                                <div onclick="eliminar()" class="submit">
                                    Cerrar sesion
                                </div>
                                <div onclick="destruir()" class="submit"
                                    style="background: #e74c3c; border: 1px solid #e74c3c;">
                                    Eliminar cuenta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/tippy.js@0.11.3/dist/tippy.min.js"></script>
    <script src="https://unpkg.com/tippy.js@0.11.3/dist/tippy.standalone.js"></script>
    <script src="https://unpkg.com/tippy.js@0.11.3/dist/tippy.js"></script>

    <script>
        new Tippy('.tippy')
    </script>

    <script src="{{ url_for('static', filename='vendor/notiflix/notiflix-aio-2.7.0.min.js') }}"></script>

</body>

</html>