# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-vendored=true
./src/static/css/utilities.css linguist-vendored=true
./src/static/css/style.css linguist-vendored=true
