<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cuenta.css') }}">
    <title>Cuenta | {{ user['nombre'] }}</title>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/notiflix/notiflix-2.7.0.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/notiflix/notiflix-2.7.0.min.css') }}">

</head>

<body style="overflow-x: hidden;">
    <div class="main-content">
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/">HOstHome</a>
                <div class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                    <div class="form-group mb-0">
                        <a href="/account/hosts" style="color: #fff;">
                            Hosts
                        </a>
                    </div>
                </div>
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="{{ user['pfp'] }}">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">{{ user['nombre'] }}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
            style="min-height: 600px; background-image: url(); background-size: cover; background-position: center top;">
            <span class="mask bg-gradient-default opacity-8"></span>
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hola {{ user['nombre'] }}</h1>
                        <p class="text-white mt-0 mb-5">Esta es tu página de perfil. Puedes ver el progreso que has
                            hecho
                            con tu trabajo y gestiona tus proyectos o tareas asignadas</p>
                        <a href="#!" class="btn btn-info">Editar cuenta</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <form method="POST" action="/img" id="formImg" enctype="multipart/form-data" class="row justify-content-center">
                            <input type='file' id="imgInp" name="imgInp" />
                            <div class="col-lg-3 order-lg-2">
                                <label style="width: 100%; height: 85px; z-index: 9999;" class="card-profile-image" for="imgInp">
                                    <img alt="Imagen" id="img__prev" src="{{ user['pfp'] }}"
                                        class="rounded-circle circle">
                                </label>
                            </div>
                        </form>
                        <div style="position: absolute; width: 100%; background: transparent;"
                            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Hosts</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Cambiar plan</a>
                            </div>
                        </div>
                        <div style="height: 50px;"></div>
                        <div class="card-body pt-0 pt-md-4">
                            <!-- <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading">2</span>
                                            <span class="description">Hosts</span>
                                        </div>
                                        <div>
                                            <span class="heading">10</span>
                                            <span class="description">awd</span>
                                        </div>
                                        <div>
                                            <span class="heading">89</span>
                                            <span class="description">awd</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="text-center">
                                <h3>
                                    {{ user['nombre'] }}<span class="font-weight-light"> | 2 hosts</span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>
                                    {% if user["ciudad"] != "" and user["pais"] != "" %}
                                    {{ user["ciudad"] }}, {{ user["pais"] }}
                                    {% endif %}
                                </div>
                                <hr class="my-4">
                                {% if user["info"] != "" %}
                                <p>{{ user["info"] }}</p>
                                <!-- <a href="#">Leer mas</a> -->
                                {% else %}
                                <p>El usuario <strong>{{ user["nombre"] }}</strong> no tiene ninguna BIO, es un poco
                                    rarito </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Mi cuenta</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <div class="btn btn-sm btn-primary">Configuracion</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-username">Nombre de
                                                    usuario</label>
                                                <input type="text" id="input-username"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Nombre de usuario" value="{{ user['nombre'] }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Correo
                                                    electronico</label>
                                                <input type="email" id="input-email" value="{{ user['mail'] }}"
                                                    class="form-control form-control-alternative"
                                                    placeholder="hosthome@ejemplo.com" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">Primer
                                                    nombre</label>
                                                <input type="text" id="input-first-name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Primer nombre" value="{{ user['primerNombre'] }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Apellido</label>
                                                <input type="text" id="input-last-name"
                                                    class="form-control form-control-alternative" placeholder="Apellido"
                                                    value="{{ user['segundoNombre'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <h6 class="heading-small text-muted mb-4">Informacion de contacto</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Direccion</label>
                                                <input id="input-address" class="form-control form-control-alternative"
                                                    placeholder="Direccion de casa" type="text"
                                                    value="{{ user['direccion'] }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">Ciudad</label>
                                                <input type="text" id="input-city"
                                                    class="form-control form-control-alternative" placeholder="Ciuddad"
                                                    value="{{ user['ciudad'] }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-country">Pais</label>
                                                <input type="text" id="input-country"
                                                    class="form-control form-control-alternative" placeholder="Pais"
                                                    value="{{ user['pais'] }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Codigo
                                                    postal</label>
                                                <input type="number" id="input-postal-code"
                                                    class="form-control form-control-alternative"
                                                    value="{{ user['codigoPostal'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <h6 class="heading-small text-muted mb-4">Sobre mi</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label>Sobre mi</label>
                                        <textarea id="bio" rows="4" class="texty-area form-control form-control-alternative"
                                            placeholder="Soy una persona muy misteriosa">{{ user['info'] }}</textarea>
                                    </div>
                                </div>
                            </form>
                            <script>
                                function eliminar() {
                                    Notiflix.Loading.Init({ svgColor: "#6493c6", });
                                    Notiflix.Loading.Circle();
                                    setTimeout(function () {
                                        window.location.replace("/account/delete")
                                    }, 4000);
                                }
                            </script>
                            <div class="botones">
                                <button onclick="guardar()" class="guardar">Guardar cambios</button>
                                <button onclick="eliminar()" class="cerrar">Cerrar sesion</button></>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear())</script> HostHome
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='vendor/notiflix/notiflix-aio-2.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/notiflix/notiflix-aio-2.7.0.min.js') }}"></script>

</body>

</html>