<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>HostHome | Entrar</title>
  </head>
  <body>

    <div id="progress"></div>

    <div class="center">
      <div id="register">

        <i id="progressButton" class="ion-android-arrow-forward next"></i>

        <div id="inputContainer">
          <input id="inputField" required autofocus />
          <label id="inputLabel"></label>
          <div id="inputProgress"></div>
        </div>

      </div>
      <div class="ayuda">
        <a href="/">Casa</a> | <a href="/register">No tienes una cuenta </a> | <a href="/login">Contraseña olvidada</a>
      </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/login.js') }}" ></script>

  </body>
</html>
