<!DOCTYPE html>
<html lang="es-ES">

 <head>
      <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <script src="{{ url_for('static', filename='sw.js') }}"></script>
	<title>HostHome | Entrar</title>
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/notiflix/notiflix-2.7.0.min.css') }}">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>
</head>
<body>
	<script>
		window.addEventListener('load', function () {
			const divs = document.getElementsByClassName("animacion");

			for (i=0;i<divs.length;i++) {
				divs[i].classList.add("active")
			}
		})
	</script>
	<div class="wrapper">
		<div class="left">
			<div class="logo">
				<a href="/" class="logete">
					<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" srcset="">
				</a>
			</div>
			<div class="form" id="formy">
				<h1 style="font-size: 55px;" class="animacion">¡Hola!</h1>
				<h2 style="font-size: 30px;" class="animacion">¿Nos conocemos?</h2>
				<div style="height: 50px; width: 100%;"></div>
				<div class="input animacion">
					<label for="email">Email</label>
					<input oninput="mirarSiEsValido()" placeholder="nombre@email.com" type="email" name="email" id="email" autocomplete="off">
				</div>
				<div class="input animacion">
					<label for="nombre">Nombre</label>
					<input oninput="mirarSiEsValido()" placeholder="Nombre" type="text" name="nombre" id="nombre" autocomplete="off">
				</div>
				<div class="input animacion">
					<label for="psw">Contraseña</label>
					<input oninput="mirarSiEsValido()" type="password" placeholder="********" name="psw" id="psw" autocomplete="off">
				</div>
				<div class="input animacion">
					<label for="rpsw">Repetir contraseña</label>
					<input style="-webkit-text-security:disc;" oninput="mirarSiEsValido()" type="password" placeholder="********" name="rpsw" id="rpsw" autocomplete="off">
				</div>
				<button disabled onclick="cambiarARobot()" class="subBtn animacion" id="btnLogin">Registrarse</button>
				<div class="extra animacion">
					<p>Tienes una cuenta? <a href="/login">Entrar</a></p>
				</div>
			</div>
			<div id="recaptcha">
				<style>
					#recaptcha img {
						width: 300px;
						margin-bottom: 12px;
					}
				</style>
				<img src="{{ url_for('static', filename='images/secure.png') }}">
				<h3 style="margin-bottom: 30px;">Demuestra que no eres un robot</h3>
				<div class="g-recaptcha" data-callback="cambiarAEmail" data-sitekey="{{ key }}"></div>
			</div>
			<div style="display: none" id="emailVer">
				<h3 style="margin-bottom: 30px;"></h3>
				<h1 style="font-size: 55px;">Verifica tu cuenta!</h1>
				<h2 style="font-size: 30px;">Mira tu email y pon el codigo de verificacion</h2>
				<div style="height: 50px; width: 100%;"></div>
				<div class="input">
					<label for="codigo">Codigo de verificacion</label>
					<input oninput="verCodigoRes()" id="codigo" type="number" placeholder="0000">
				</div>
				<button disabled onclick="verficarCodigo()" class="subBtn" id="btnLoginCodigo">Verificar cuenta</button>
				<div class="extra">
					<p>Has cambiado de opinion? <a href="/register">Cancelar</a></p>
				</div>
			</div>
		</div>
		<div class="right">
			<div style="height: 10vh; width: 100%;"></div>
			<div style="width: 100%;">
				<img style="transform: rotate(45deg);" src="https://www.iconshock.com/img/landing-assets/tresde-icons/icon3d__73.png">
			</div>
		</div>
	</div>
	
	<script src="{{ url_for('static', filename='vendor/notiflix/notiflix-aio-2.7.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>

</body>

</html>
