<style>
    #extra_right {
        width: 100%;
        height: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    #extra_right .pagina1 {
        width: 70%;
        border-right: 1px solid #ddd;
        padding: 0 20px;
        height: 100%;
    }

    #extra_right .pagina1 .header {
        box-sizing: border-box;
        margin: 0px 30px;
        min-width: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: transparent;
        position: relative;
        border-bottom: 1px solid rgb(215, 219, 224);
        border-radius: 0px;
        display: flex;
        justify-content: space-between;
    }

    #extra_right .pagina1 .header .titulo {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        color: rgb(54, 73, 98);
        text-align: left;
        line-height: 1.5;
        text-transform: none;
        overflow: unset;
        white-space: unset;
        text-overflow: unset;
    }

    #extra_right .pagina1 .header .titulo .icono {
        width: 36px;
        background-color: rgb(255, 121, 96);
        color: rgb(255, 255, 255);
        position: relative;
        height: 36px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #extra_right .pagina1 .header .titulo .texto {
        margin: 0px 0px 0px 15px;
    }

    #extra_right .pagina1 .header .eliminarHeader {
        color: rgb(154, 164, 176);
        cursor: pointer;
        display: flex;
        align-items: center;
    }
</style>
<div style="background: #fff; display: none;" class="extra_right" id="extra_right">
    <div class="pagina1">
        <div class="header">
            <div class="titulo">
                <div class="icono">
                    <i class="fas fa-info"></i>
                </div>
                <div class="texto">
                    Extra informacion
                </div>
            </div>
            <div class="eliminarHeader tippy" data-theme="light" title="Eliminar" data-duration="300" data-arrow="true"
                data-animation="shift" data-position="left">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div id="form">
            <div class="input">
                <label for="nombre" class="tippy" data-theme="light" title="Luego puedes cambiarlo" data-duration="300" data-arrow="true"
                data-animation="shift" data-position="right">
                    <p>
                        Descripcion
                    </p>
                </label>
                <input placeholder="No tengo descripcion" autocomplete="off" id="nombre" type="text" name="" id="">
            </div>
            <div style="padding: 30px 0 10px;" class="input">
                <label>
                    <p>
                        Escoje servidor
                    </p>
                </label>
                <select style="width: 100%; padding: 15px; border: 1px solid #ddd; border-radius: 5px;" name="" id="">
                    <option value="Europa" selected>Europa</option>
                    <option value="Estados unidos">Estados unidos</option>
                </select>
            </div>
            <div class="input">
                <label for="nombre" class="tippy" data-theme="light" title="Contraseña para acceder a ella" data-duration="300" data-arrow="true"
                data-animation="shift" data-position="right">
                    <p>
                        Poner una contraseña
                    </p>
                </label>
                <input placeholder="Dejala en blanco si no quieres tener una contraseña" autocomplete="off" id="nombre" type="password" name="" id="">
            </div>
        </div>
    </div>
    <style>
        .pagina2 {
            position: relative;
            height: 100%;
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
            width: 30%;
            font-weight: 300;
        }

        .pagina2 .banner {
            width: 100%;
            background: #3498db;
            color: #fff;
            display: flex;
            font-size: 20px;
            font-weight: 300;
            padding: 20px;
            align-items: center;
        }

        .pagina2 h1 {
            font-size: 2em;
        }

        .docs {
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
        }

        @media only screen and (max-width: 1400px) {

            .pagina2 {
                display: none !important;
            }

            .text__opcion_2 {
                text-overflow: ellipsis !important;
                width: 120px !important;
                overflow: hidden !important;
                white-space: nowrap !important;
            }

            .pagina1 {
                width: 100% !important;
            }
        }
    </style>
    <div class="pagina2">
        <iframe style="width: 100%; height: 100%;" frameborder="0" src="http://127.0.0.1:8000/#introduccion"
            frameborder="0"></iframe>
    </div>
</div>