.navy {
    display: flex;
    justify-content: flex-start;
}

.navy p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: rgb(54, 73, 98);
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 0 1 auto;
}

.navy a {
    font-size: 24px;
    font-weight: 500;
    color: rgb(154, 164, 176);
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 100px;
}


.pagina .edit__uno .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    padding: 35px 0;
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    /* align-items: center; */
    display: flex;
    background: transparent;
}

.pagina .edit__uno .nav ul a {
    box-sizing: border-box;
    margin: 3px 0;
    min-width: 0px;
    padding: 15px 30px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: rgb(154, 164, 176);
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    display: flex;
    align-items: center;
    justify-content: inherit;
    transition: .2s;
    width: 350px;
}

.pagina .edit__uno .nav ul a:hover {
    box-shadow: rgba(20, 26, 40, 0.15) 0px 7px 42px;
    transform: scale(1.01);
}

.pagina .edit__uno .nav ul .active {
    box-sizing: border-box;
    min-width: 0px;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    color: rgb(154, 164, 176);
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    display: flex;
    align-items: center;
    box-shadow: rgb(235, 241, 255) 0px 16px 20px 0px;
}

.pagina .edit__uno .nav ul a i {
    color: rgb(54, 73, 98) !important;
    font-size: 24px;
    display: flex;
    margin: 0px 15px 0px 0px;
}

.pagina .edit__uno .nav {
    width: 300px;
    position: fixed;
    left: 13%;
    top: 20%;
}

.pagina .edit__uno .nav ul a .fa-chevron-right {
    margin-left: 10px;
    color: rgb(54, 73, 98);
    font-size: 20px;
}

.main {
    width: 55%;
    height: 70vh;
    position: relative;
    margin-right: 150px;

}

@media only screen and (max-width: 1400px) {
    .main {
        width: 55%;
        height: 70vh;
        position: relative;
        margin-right: 50px;
    }
}

.pagina {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#popup {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

#popup .bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    height: 100%;
}

#popup .wrapper {
    background: #fff;
    width: 25%;
    border-radius: 10px;
    position: relative;
    /* height: 300px; */
    z-index: 999;
    padding: 35px;
}

#popup .wrapper .input {
    margin-bottom: 20px;
}

#popup .wrapper .input label p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(54, 73, 98);
    text-align: left;
    line-height: 1.5;
    text-transform: none;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    margin: 0;
}

#popup .wrapper .input input {
    background-color: transparent;
    position: relative;
    display: block;
    transition: border 0.2s ease-in-out 0s;
    box-sizing: border-box;
    cursor: text;
    padding: 10px 18px;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border: 1px solid rgb(215, 219, 224);
    width: 100%;
    color: rgb(54, 73, 98);
    border-radius: 4px;
    outline: none;
    transition: 0s;
}

#popup .wrapper .input input:focus {
    border: 1px solid #999;
}

#popup .wrapper .input input.error {
    border: 1px solid #e74c3c;
}

#popup .wrapper .cancelarEliminacion {
    position: relative;
    display: inline-flex;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    white-space: nowrap;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    padding: 9px 18px;
    line-height: 28px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background-color: rgb(244, 247, 255);
    color: rgb(34, 92, 255);
    box-shadow: none;
    border: 1px solid rgb(26, 26, 27);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 30px;
    border: none;
    outline: none;
    margin: 0;
    margin-top: 30px;
}

#pfpHolderNavy {
    background-image: url("{{ user['pfp'] }}");
    background-size: cover;
    background-position: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}