<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>HostHome</h3>
                    <p>
                        Madrid, monteclaro <br>
                        España <br><br>
                        <strong>Numero de telefono:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> host.home.official@gmail.comemail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Documentacion</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Python</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">NodeJs</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">ruby</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Cloujure</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">C#</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Scala</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Paginas</h4>
                    <ul>
                        {% if user %}
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Cuenta</a></li>
                        {% else %}
                           <li><i class="bx bx-chevron-right"></i> <a href="#">Entrar</a></li>
                        {% endif %}
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Precios</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Documentacion</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos y privacidad</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Licencia</a></li>
                    </ul>
                </div>

                {% if user %}
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Recibe notificaciones</h4>
                        <p>Te llegaran notificaciones de tu hosts</p>
                        <form action="" method="post">
                            <input type="email" name="email" required><input type="submit" value="Subscribirte">
                        </form>
                    </div>
                {% else %}
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Cuenta</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/login">Entrar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/register">Registrarse</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Me olvide mi contraseña</a></li>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; <script>document.write(new Date().getFullYear())</script> Copyright <strong><span>HostHome</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Creado por <a href="https://maucode.com">Maubg</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
