<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>HostHome
            </h1>
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script></p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Pagina principal</a></li>
                <li><a href="/features">Caracteristicas</a></li>
                <li><a href="/docs">Docs</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>