<div class="navbar">
    <div class="container flex">
        <h1 class="logo">HostHome</h1>
        <nav>
            <ul>
                <li><a href="/">Casa</a></li>
                <li><a href="/features">Caracteristicas</a></li>
                <li><a href="/docs">Docs</a></li>
                {% if user %}
                    <li><a href="/account"><i class="far fa-user" style="padding-right: 10px;"></i> {{ user["nombre"] }}</a></li>
                {% else %}
                    <li><a href="/register">Entrar / Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
